*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('../images/background-mobile.jpg');
  background-position: center;
}

/* Media Query */
@media screen and (min-width: 600px) {
  body{
    background: url('../images/background.jpg');
  }
}